absl-py
addict
astunparse
cached-property
cachetools
certifi
charset-normalizer
contourpy
cycler
descartes
efficientnet
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
image-classifiers
imageio
importlib-metadata
importlib-resources
keras==2.13.1
Keras-Applications==1.0.8
Keras-Preprocessing
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
networkx
numpy
oauthlib
opencv-python
opt-einsum
packaging
Pillow
platformdirs
protobuf
pyasn1
pyasn1-modules
pydot
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
pytz
PyWavelets
PyYAML
requests
requests-oauthlib
rsa
scikit-image
scipy
Shapely
six
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
nvidia-cuda-runtime-cu11
nvidia-cublas-cu11==11.11.3.6
nvidia-cudnn-cu11==8.6.0.163
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
tensorflow>=2.13.0,<=2.15.0
tensorflow-addons
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
tf-estimator-nightly
tifffile
tk
tomli
tqdm
typeguard
typing-extensions
urllib3
Werkzeug
wrapt
yapf
zipp
mlstructfp
pdf2image
